$bck-document: #fff;
$bck-footer: #353535;
$bck-primary: #F6F6F6;
$bck-secondary: #EAEAEA;

$font-color-main: #000;
$font-color-secondary: #353535;


$font-family-default: 'Roboto', sans-serif;
$font-family-title: 'Shrikhand', cursive;