.recipe {
  flex: 1 0 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    padding-top: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__separator {
    margin-top: 5px;
    width: 40px;
    height: 3px;
    background-color: $bck-new-restaurant;
  }

  &__list {
    list-style-type: none;

    &__item {
      background-color: $bck-document;
      border-radius: 15px;
      margin-top: 15px;
      max-width: 100%;
      overflow-x: hidden;
      display: flex;
      flex-wrap: nowrap;
      cursor: pointer;

      &__wrapper {
        padding: 10px;
        flex: 1 0 calc(90% - 60px);

        &__title {
          margin-bottom: 5px;
          font-weight: bold;
          font-weight: 18px;
        }

        &__caption {
          margin: 0;
          font-size: 15px;
          font-weight: 200;
        }
      }

      &__pricing {
        flex: 1 0 calc(10% + 60px);
        justify-content: flex-end;
        align-items: flex-end;
        width: fit-content;
        position: relative;

        &__text {
          color: $font-color-main;
          font-weight: 700;
          align-self: flex-end;
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }

      &__selection {
        flex: 1 0 auto;
        background-color: $bck-new-restaurant;
        width: 0;
        min-width: 0;
        max-width: 0;
        display: flex;
        justify-content: center;
        transition: width ease-in-out 1s;

        i {
          color: $font-color-alt;
          font-size: 24px;
          margin-top: 18px;
          transform: rotate(45deg);
        }
      }

      &.anim {
        &-in {
          animation: animIn 700ms ease-in-out 0ms 1;
          opacity: 0;
          transform: translateY(0);
          animation-fill-mode: forwards;
        }

        &-d1 {
          animation-delay: 200ms;
        }

        &-d2 {
          animation-delay: 350ms;
        }

        &-d3 {
          animation-delay: 500ms;
        }
      }

      &:hover &__pricing {
        flex: 1 0 10%;
      }

      &:hover &__selection {
        animation: animSelect 450ms ease-in-out 0s 1 normal forwards;

        i {
          animation: animSelectRotate 450ms ease-in-out 50ms 1 normal forwards;
        }
      }
    }
  }

  @media only screen and (min-width: 1040px) {
    flex: 1 0 30%;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
  }
}

.recipe-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@keyframes animIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animSelect {
  0% {
    width: 0;
    min-width: 0;
    max-width: 0;
  }

  100% {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
  }
}

@keyframes animSelectRotate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(360deg);
  }
}