body {
    margin: 0;
    background-color: $bck-document;
}

p,
h1,
h2,
h3,
ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul {
    padding-inline-start: 0px;
}

button:focus {
    outline: none;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}